<div class="container personal-card">
    <div class="row">
        <div class="col col-md-8">
            <div class=" row title text-capitalize">
                <div class="col col-md-10">
                    <a href="">
                        <%-info.title%> <i class="fa fa-arrow-alt-circle-right"> </i>
                    </a>

                </div>
            </div>
            <div class="row text-secondary">
                <div class="col col-md-10">
                    <div class="text">
                        <span><%- info.body %></span>
                    </div>
                </div>
            </div>

            <div class="row my-1">
                <div class="col col-md-7 text-muted">
                    <div class="small-text">posted by -
                        <a href="">
                            <%- info.username %>
                        </a>
                    </div>
                    <div class="small-text">
                        <%- info.time%>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row justify-content-center gutter">

    <div class="col col-md-12 justify-content-center flex-grow-1 gutter">
        <small class=" justify-content-center flex-fill"><span class="gutter__title"><a href="<%- info.category%>" class="text-center"><%- info.category%></a></span></small>
        <small class=" justify-content-center"><span class="gutter__title justify-content-center"><%- info.make %></span></small>
        <small class=" justify-content-center"><span class="gutter__title justify-content-center"><%- info.model %></span></small>
        <small class="justify-content-center"><span class="gutter__title justify-content-center"><%- info.year %></span></small>
    </div>
</div>

<br>