<div class="container personal-card">
    <div class="row no-padding">
        <div class="col col-md-8">
            <div class=" row title text-capitalize">
                <div class="col col-md-10">
                    <a href="posts/<%- info.id%>">
                        <%-info.title%> <i class="fa fa-arrow-alt-circle-right"> </i>
                    </a>

                </div>
            </div>
            <div class="row text-secondary">
                <div class="col col-md-10">
                    <div class="text">
                        <span><%- info.body %></span>
                    </div>
                </div>
            </div>

            <div class="row my-1">
                <div class="col col-md-8 text-muted">
                    <div class="small-text">posted by -
                        <a href="">
                            <%- info.username %>
                        </a>
                    </div>
                    <div class="small-text">
                        <%- info.time%>
                    </div>
                </div>
            </div>
            <div class="row no-padding">
                <div class="col-md-12 text-muted ">
                    <div alt="replies"><small><%- info.repliesCount %></small> <i class="fas fa-comments    "></i></div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 my-4">
            <div class="row small justify-content-center">
                <a href="<%- info.category%>" class="text-center justify-content-end">
                    <%- info.category%>
                </a>
            </div>
            <div class="row my-n2 small text-muted justify-content-center">
                <%- info.make %>
            </div>
            <div class="row small text-muted justify-content-center">
                <%- info.model %>
            </div>
            <div class="row my-n2 small text-muted justify-content-center">
                <%- info.year %>
            </div>
        </div>

    </div>

</div>



<br>