<div class="container my-5 welcome">
    <div class="container">
        <p class="lead">Welcome to WRG Auto</p>

        <% if(login == 1) { %>
            <div class="row">

                <div class="col-md-5 mx-3">
                    <hr class="my-2">
                    <%- include('category_selector') %>

                </div>

                <%- include('vertical divider') %>

                    <div class="col-md-5 mx-4">
                        <hr class="my-2">
                        <%- include('search') %>

                    </div>
            </div>

            <%} else {%>
                <div class="row">
                    <div class="col-md-3">
                        <hr class="my-2">
                        <%- include('login_partial') %>
                    </div>

                    <%- include('vertical divider') %>

                        <div class="col-md-4">
                            <hr class="my-2">
                            <%- include('category_selector') %>

                        </div>

                        <%- include('vertical divider') %>

                            <div class="col-md-3">
                                <hr class="my-2">
                                <%- include('search') %>

                            </div>
                </div>

                <%}%>


                    <br><br>

    </div>
</div>