    <%- include('partials/navbar') %> 

<%- include('partials/jumbotron', {success: login}) %> 
 

<div class="container">

<% if(data) for (element of data){ %>
   <div class="row">
  <div class="col col-md-7"><%= element.name %></div>
  <div class="col col-md-4 offset-md-1"><%= element.price %></div>
</div> 
  <% } %>

  <div class="container">
  <%- include('partials/sections/bodyParts_section') %>
  <%- include('partials/sections/bss') %>
  <%- include('partials/sections/engine') %>
  </div>


   <%- include('partials/footer') %>
