<%- include('partials/navbar', name) %>

    <%- include('partials/jumbotron', login) %>

        <div class="container">



            <div class="col-md-3 offset-md-1">

            </div>
            <% for( let index = 0; index < data.length; index++ ) { %>
                <div class="container">
                    <div class="col-md-8">
                        <div class="row">
                            <h1>
                                <%-data[index][0]%>
                            </h1>
                        </div>
                        <div class="row link-below">
                            <p><a href="<%-data[index][0]%>">view all posts</a></p>
                        </div>
                        <% for( let i = 0; i < data[index].length; i++ ) { %>
                            <% if(i == 0) continue; %>
                                <div class="row">
                                    <div class="col-md-9">
                                        <h4>
                                            <%-data[index][i]%>
                                                </h3>
                                    </div>
                                    <div class="col-md-3">
                                        <a name="" id="" class="btn btn-secondary" href="<%-data[index][i]%>" role="button">view posts <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                    </div>
                                </div>



                                <% } %>
                    </div>
                </div>
                <br> <br>
                <% } %>