<%- include('../partials/navbar') %>

    <div class="container">
        <div class="row">
            <div class="col col-md-12">
                <h3 for="" class="my-1 mx-1 text-muted">Create a post</h3>

                <hr>
            </div>
        </div>
    </div>


    <form method="post" action="/create/post">
        <div class="container post-box">
            <div class="row ">
                <div class="col col-md-8">
                    <div class="row my-2">
                        <div class="col  col-md-12">
                            <input class="form-control" type="text" name="" id="title" placeholder="Title goes here...">
                            <div id="editor" class="" placeholder="Type here ... "></div>
                        </div>
                    </div>
                </div>
                <div class="col col-md-3 ">
                    <div class="row my-2">
                        <div class="col col-md-12 ">
                            <select name="Category" id="category" class=" justify-content-center form-control category">
                            <% for(var i =0; i < array.length; i++) { %>
                                <option value="<%-array[i][0]%>"><%-array[i][0]%></option>
                            <%}%>
                            </select>
                            <small class="form-text text-muted">Category</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <select id="sub-category" class="form-control category" name="">
                                <% for(var i =0; i < array[first].length; i++) { %>
                                    <option value="<%-array[first][i]%>"><%-array[first][i]%></option>
                                <%}%>
                                </select>
                            <small class="form-text text-muted">Sub-Category</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <select id="make" class="form-control category" name="">
                                
                                </select>
                            <small class="form-text text-muted">Car Make</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <select id="model" class="form-control category" name="">
                                       
                                        </select>
                            <small class="form-text text-muted">Car Model</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-md-12">
                            <input type="year" placeholder="optional" id="year" class="form-control category" name="">

                            <small class="form-text text-muted">year</small>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col col-md-12">
                            <a name="btn" id="btn" class="btn btn-secondary btn-block" href="" role="button"><i class="fa fa-plus" aria-hidden="true"></i> Post</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row my-n3">
                <div class="col col-md-4">
                    <div class="form-check form-check-inline">
                        <input id="notify" class="form-check-input" type="checkbox" name="" value="">
                        <label for="my-input" class="form-check-label text-muted">Send reply notifications</label>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>

    <script src="scripts/trumbowyg/dist/trumbowyg.js"></script>
    <link rel="stylesheet" href="scripts/trumbowyg/dist/ui/trumbowyg.min.css">

    <script>
        var arr = <%- JSON.stringify(array) %>;
        var first = <%- JSON.stringify(first) %>;
        var second = <%- JSON.stringify(second) %>;
        $('#category').val(arr[first][0]).trigger('change');
        $('#sub-category').val(arr[first][second]).trigger('change');

        var carArray = <%- JSON.stringify(carArray) %>;
        for (let index = 0; index < carArray.length; index++) {
            const element = carArray[index][0];
            $(' <option value="' + element + '">' + element + '</option>').appendTo($('#make'));

        }


        $('#make').change((e) => {
            console.log($("#category option:selected").index())
                //remove current options
            $('#model option').remove();

            var arr = <%- JSON.stringify(carArray) %>;
            var i = $("#make option:selected").index();

            //add new options
            for (let index = 1; index < arr[i].length; index++) {
                const element = arr[i][index];
                $(' <option value="' + element + '">' + element + '</option>').appendTo($('#model'));
            }

        });

        $('#make').trigger('change');





        $('#editor').trumbowyg();

        $('#category').change((e) => {
            console.log($("#category option:selected").index())
                //remove current options
            $('#sub-category option').remove();

            var arr = <%- JSON.stringify(array) %>;
            var i = $("#category option:selected").index();

            //add new options
            for (let index = 0; index < arr[i].length; index++) {
                const element = arr[i][index];
                $(' <option value="' + element + '">' + element + '</option>').appendTo($('#sub-category'));
            }

        })


        $('#btn').on('click', (e) => {
            console.log($('textarea').val())
            var request = {
                title: $('#title').val(),
                body: $('textarea').val(),
                category: $('#category option:selected').val(),
                category_index: $('#category option:selected').index(),
                sub_category: $('#sub-category option:selected').val(),
                sub_category_index: $('#sub-category option:selected').index(),
                notification: $('#notify').val(),
                make: $('#make option:selected').val(),
                model: $('#model option:selected').val(),
                year: $('#year').val()
            }
            $.ajax({
                type: "post",
                url: '/create/post',
                data: request,
                success: function(data, text) {
                    //success code here.
                    //$('#sub').click();
                    window.location.href = '/';

                },
                error: function(request, status, error) {
                    //error handling here.
                    console.log(error);
                    console.log("error");
                    $('.alert').show();
                }
            });
        });
    </script>