<%- include('../partials/navbar') %>


    <div class="container personal-post">
        <div class="row">
            <div class="col col-md-12">
                <div>
                    <h1 class="display-4">
                        <%- postInfo.title %>
                            </h5>
                </div>
                <div class="my-n2 text-muted"><small>posted by <a href="/<%- postInfo.poster %>"><%- postInfo.poster %></a> </small></div>
                <hr>

            </div>
        </div>
        <div class="row">
            <div class="col col-md-12">
                <%- postInfo.body %>
            </div>
        </div>
        <div class="row my-4">
            <div class="col col-md-10">
                <div><small class="text-muted"><%- postInfo.time %></small></div>
            </div>
            <div class="col col-md-2 text-right right">
                <button type="button" name="" id="" class="btn btn-secondary " data-toggle="modal" data-target="#exampleModalLong"> reply </button>
            </div>
        </div>
    </div>

    <%- include('../partials/comments', postInfo) %>


        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="editor"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="post-reply" data-toggle="modal" data-target="#exampleModalLong">Post</button>
                        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalLong">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="/scripts/trumbowyg/dist/trumbowyg.js"></script>
        <link rel="stylesheet" href="/scripts/trumbowyg/dist/ui/trumbowyg.min.css">

        <script>
            $('#editor').trumbowyg();
        </script>