<%- include('../partials/navbar') %>

    <div class="container-fluid my-3">

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <h1 class="display-3">
                        <%- title  %>
                    </h1>
                </div>
                <% console.log(highlighted.second); var num; %>

                    <ul class="list-inline">
                        <% for( let index = 0; index < links.length; index++ ) { %>
                            <% if(index == highlighted.second) { num = index;%>


                                <li class="list-inline-item current cat-links my-2">
                                    <a href="<%- links[index] %>">
                                        <% if(index == 0) links[index] = 'Everything' %>
                                            <%- links[index] %>
                                    </a>
                                </li>
                                <% }else {%>
                                    <li class="list-inline-item cat-links my-2">
                                        <a href="<%- links[index] %>">
                                            <% if(index == 0) links[index] = 'Everything' %>
                                                <%- links[index] %>
                                        </a>
                                    </li>
                                    <%}%>
                                        <% } %>
                    </ul>
            </div>
        </div>

        <div class="container my-4">
            <div class="row">
                <a name="" id="" class="btn btn-secondary btn-block" href="/create-post?main=<%- highlighted.first%>&second=<%- highlighted.second%>" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create Post</a>
            </div>
        </div>




        <div class="container my-4 h-100">
            <% console.log(cardInfo.length + "card info") %>
                <% if(cardInfo == null || cardInfo.length == 0 || cardInfo == new Array) { %>
                    <% console.log('hello wolrd') %>

                        <header class="masthead">
                            <div class="container h-100">
                                <div class="row h-100 align-items-center">
                                    <div class="col-12 text-center">
                                        <h1 class="font-weight-light">Oh my, this is embrassing</h1>
                                        <p class="lead">No posts as of yet</p>
                                    </div>
                                </div>
                            </div>
                        </header>

                        <% } else{%>

                            <div class="container">
                                <div class="row">
                                    <div class="col col-md-8">
                                        <% for(let i=0; i < cardInfo.length; i++){ %>
                                            <%- include('../partials/card', {info : cardInfo[i]}) %>
                                                <%}%>
                                    </div>
                                </div>
                            </div>
                            <%}%>
        </div>